/.vscode
lines.py
main
glucose
/OGDF
stats
*.svg
*.DS_Store
gen
/generated-graphs*
/output-svgs*
test_results*
/plot_results*
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
/build
cnf_logs*
libcore.a
/rome_2*